jupyter==1.0.0
jupyterlab==3.6.1
mlflow==2.3.0
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
numpy==1.23.5
requests==2.28.2
boto3==1.26.121
mysql-connector-python==8.0.33
pymysql
